<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\Khadamat.WebAPI.exe"
                  arguments=""
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
      <staticContent>
        <remove fileExtension=".dll" />
        <remove fileExtension=".dat" />
        <remove fileExtension=".json" />
        <remove fileExtension=".wasm" />
        <remove fileExtension=".blat" />
        <remove fileExtension=".apk" />
        <remove fileExtension=".xml" />
        <remove fileExtension=".txt" />
        <mimeMap fileExtension=".dll" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".json" mimeType="application/json" />
        <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
        <mimeMap fileExtension=".blat" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
        <mimeMap fileExtension=".xml" mimeType="application/xml" />
        <mimeMap fileExtension=".txt" mimeType="text/plain" />
      </staticContent>
      <httpProtocol>
        <customHeaders>
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="X-Frame-Options" value="SAMEORIGIN" />
          <add name="X-XSS-Protection" value="1; mode=block" />
          <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
