<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Khadamat.WebAPI.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <staticContent>
        <remove fileExtension=".dll" />
        <remove fileExtension=".dat" />
        <remove fileExtension=".json" />
        <remove fileExtension=".wasm" />
        <remove fileExtension=".blat" />
        <remove fileExtension=".apk" />
        <remove fileExtension=".br" />
        <remove fileExtension=".gz" />
        <mimeMap fileExtension=".dll" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".json" mimeType="application/json" />
        <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
        <mimeMap fileExtension=".blat" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
        <mimeMap fileExtension=".br" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".gz" mimeType="application/octet-stream" />
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      </staticContent>
      <httpCompression>
        <dynamicTypes>
          <add mimeType="application/octet-stream" enabled="true" />
          <add mimeType="application/wasm" enabled="true" />
          <add mimeType="application/json" enabled="true" />
        </dynamicTypes>
        <staticTypes>
          <add mimeType="application/octet-stream" enabled="true" />
          <add mimeType="application/wasm" enabled="true" />
          <add mimeType="application/json" enabled="true" />
        </staticTypes>
      </httpCompression>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: D6C0C75C-24F9-4B99-A389-7AD63168C232-->