@inject Khadamat.BlazorUI.State.AppState State

<footer class="app-footer">
    <div class="footer-content">
        <p class="copyright">&copy; 2026 @State.AppName. جميع الحقوق محفوظة.</p>
        <div class="footer-links">
            <a href="#">سياسة الخصوصية</a>
            <a href="#">الشروط والأحكام</a>
            <a href="#">تواصل معنا</a>
        </div>
    </div>
</footer>

@code {

}
