<div class="bottom-nav">
    <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
        <i class="fa-solid fa-house"></i>
        <span>الرئيسية</span>
    </NavLink>
    
    <NavLink class="nav-item" href="search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <span>بحث</span>
    </NavLink>
    
    <NavLink class="nav-item" href="favorites">
        <i class="fa-solid fa-heart"></i>
        <span>المفضلة</span>
    </NavLink>
    
    <NavLink class="nav-item" href="messages">
        <i class="fa-solid fa-message"></i>
        <span>الرسائل</span>
    </NavLink>
    
    <NavLink class="nav-item" href="profile">
        <i class="fa-solid fa-user"></i>
        <span>حسابي</span>
    </NavLink>
</div>
