/* _content/Khadamat.BlazorUI/Layout/MainLayout.razor.rz.scp.css */
/* Scoped CSS removed to use global khadamat.css */
/* _content/Khadamat.BlazorUI/Layout/NavMenu.razor.rz.scp.css */
/* Scoped CSS removed to use global khadamat.css */
